---
import  '../styles/global.css';
---

<h1 class="text-center mt-10px">404</h1>
<img class="mx-auto mt-5" src="https://media.giphy.com/media/3o7Zeof8ZuJs45nmkU/giphy.gif" alt="Rata llorando">
<p class="text-2xl font-bold text-center text-rose-400 mb-6 ">Creo que me comí esa página</p>
<div class=" flex flex-col items-center md:space-x-4 md:space-y-0">
  <a href="https://www.ratfriendly.org" class= "font-bold bg-rose-400 text-white hover:bg-white hover:text-rose-400 m-2 rounded-lg p-3 py-4 px-3 ">
    Volver a Rat Friendly
  </a>
</div>

