---
import Navbar from "../components/Navbar.astro";
import Features from '../components/Features.astro';
import Hero from '../components/Hero.astro';
import More from '../components/More.astro';
import Projects from '../components/Projects.astro';
import Rata from '../components/Rata.astro';
import Contacto from '../components/Contacto.astro';
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseHead from '../components/BaseHead.astro';


---

		

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
	<body>
		
		<main>
			<Navbar />
			<Hero />
			<Rata />
			<More />
			<Features />
			<Projects />
			<Contacto />	
			<Footer />	
		</main>
		
	</body>
</html>
