---
  import Layout from "../layouts/Layout.astro";
 
---  
<Layout title="Rat Friendly" description="Productos para ratas domésticas"> 

  <h1 class="text-2xl font-bold text-center text-rose-400 mb-6 ">ALGO LINDO PARA TUS RATAS</h1>
  <div class="max-w-md mx-auto rounded-lg overflow-hidden md:max-w-lg">
    <div class="md:flex">
      <div class="p-4">
        <p class="text-xl font-semibold">¡Lo sentimos!</p>
        <p class="mt-2 text-white">Actualmente no tenemos productos disponibles.</p>
        <p class="mt-2 text-gray-600">Si desea promocionar sus productos en nuestro sitio, ¡póngase en contacto con nosotros!</p>
      </div>
      <div class="p-4 md:flex-shrink-0 ">
        <a href="/contact" class="block text-center w-full py-3 px-4 bg-rose-500 text-white font-semibold rounded-lg hover:bg-rose-300">Contacto</a>
      </div>
    </div>
  </div>
  
    <img class="mx-auto mt-5" src="https://media.giphy.com/media/3o7Zeof8ZuJs45nmkU/giphy.gif" alt="Rata llorando">
  
  </Layout>